// ---- FONTS -----

@font-face {
    font-family: "OpenSans-Semibold";
    src: url('../assets/fonts/OpenSans_Semibold.ttf') format('truetype');
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url('../assets/fonts/OpenSans-Bold_0.ttf') format('truetype');
}
@font-face {
    font-family: "OpenSans";
    src: url('../assets/fonts/2211.ttf') format('truetype');
}