// ---- VARIABLES -----

$blue: #1874cd;
$grey: #7f7e7c;
$strongGrey: #575757;
$lightGrey: #dcdcdc;

.grey-c {
    color: $grey !important
}

.grey-b {
    color: $grey !important
}

.blue-c {
    color: $blue !important
}

.blue-b {
    color: $blue !important
}

.light-grey-c {
    color: $lightGrey !important
}

.light-grey-b {
    color: $lightGrey !important
}

.strong-grey-c {
    color: $strongGrey !important
}

.strong-grey-b {
    color: $strongGrey !important
}
